.filter-box--blur {
  &:hover {
    img {
      filter: blur(5px);
    }
  } 
}

.filter-box--grayscale {
  &:hover {
    img {
      filter: grayscale(100%);
    }
  } 
}

.filter-box--brightness {
  &:hover {
    img {
      filter: brightness(0.4);
    }
  } 
}

.filter-box--drop-shadow {
  &:hover {
    img {
      filter: drop-shadow(8px 8px 15px gray);
    }
  } 
}

.filter-box--hue-rotate {
  &:hover {
    img {
      filter: hue-rotate(95deg);
    }
  } 
}

.filter-box--invert {
  &:hover {
    img {
      filter: invert(50%);
    }
  } 
}

.filter-box--opacity {
  &:hover {
    img {
      filter: opacity(50%);
    }
  } 
}

.filter-box--saturate {
  &:hover {
    img {
      filter: saturate(5);
    }
  } 
}

.filter-box--sepia {
  &:hover {
    img {
      filter: sepia(100%);
    }
  } 
}

.filter-box--contrast--brightness {
  &:hover {
    img {
      filter: contrast(150%) brightness(50%);
    }
  } 
}

.filter-box--contrast--sepia {
  &:hover {
    img {
      filter: contrast(20%) sepia(150%);
    }
  } 
}

.filter-box--contrast--saturate {
  &:hover {
    img {
      filter: contrast(200%) saturate(5);
    }
  } 
}

.filter-box--contrast--opacity {
  &:hover {
    img {
      filter: contrast(200%) opacity(50%);;
    }
  } 
}

.filter-box--contrast--invert {
  &:hover {
    img {
      filter: contrast(200%) invert(50%);
    }
  } 
}

.filter-box--contrast--hue-rotate {
  &:hover {
    img {
      filter: contrast(200%) hue-rotate(95deg);
    }
  } 
}

.filter-box--contrast--grayscale {
  &:hover {
    img {
      filter: contrast(200%) grayscale(100%);;
    }
  } 
}

.filter-box--contrast--blur {
  &:hover {
    img {
      filter: contrast(200%) blur(5px);;
    }
  } 
}

.filter-box--contrast--drop-shadow {
  &:hover {
    img {
      filter: contrast(200%) drop-shadow(8px 8px 10px gray);;
    }
  } 
}

.filter-box--contrast--brightness {
  &:hover {
    img {
      filter: contrast(200%) brightness(200%);
    }
  } 
}




  
  